
/* Base font size */
html,
body {
  font-size: 16px;
}

/* Paragraph styling */
p {
  font-weight: 400;
  line-height: 1.4em;
}

/* Headings */
h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 500;
  text-align: left;
  padding-top: 15px;
}

/* Address styling */
address {
  text-align: center;
  text-decoration
}

/* Website URL link */
a.website {
  font-weight: bold;
  font-size: 1.25em;
  color: #4F3674;
  text-decoration: none;
}

/* Hover pseudo-class */
a.website:hover {
  text-decoration: none;
  background-color: #D6A800;
}

/* Visited pseudo-class (styling of choice) */
a.website:visited {
  color: #6B4E9B;
  text-decoration: none;
}

/* Sentence class */
.sentence {
  font-style: italic;
}

/* Intro class (applies to the first paragraph only) */
.intro {
  text-indent: 2em;
}

