#container {
  background-color: blue;
  color: white;
  border: 2px solid black;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
}

#container1 {
  background-color: white;
  color: black;
  border: none;
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 0px;
}

/* Center the main title */
h1 {
  text-align: center;
}

/* Side-by-side divs */
.side-by-side {
  width: 45%;
  float: left;
}

/* Last div styling */
.last-div {
  width: 100%;
  margin-top: 60%;
}

/* Bottom div */
.bottom-div {
  float: right;
  margin-bottom: 20px;
}

/* Headings */
h3 {
  font-weight: 500;
}

/* List text weight */
ol,
ul {
  font-weight: 300;
}

/* Ordered list and title */
.ordered-list,
.ordered-list h3 {
  border: 1px solid blue;
  border-radius: 15px;
}

.ordered-list ol {
  padding: 10px;
  list-style-position: inside;
}

/* Unordered list and title */
.unordered-list,
.unordered-list h3 {
  border: 1px dashed blue;
  border-radius: 15px;
}

.unordered-list ul {
  padding: 10px;
  list-style-type: upper-roman;
  list-style-position: inside;
}

/* Link hover underline 
a:hover {
  text-decoration: none;
}*/

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
<style>
ul.a {list-style-type: circle;}
ul.b {list-style-type: disc;}
ul.c {list-style-type: square;}

ol.d {list-style-type: upper-roman;}
ol.e {list-style-type: lower-roman;}
ol.f {list-style-type: lower-alpha;}
ol.g {list-style-type: decimal;}
</style>