/* Center the main title */
h1 {
  text-align: center;
}

/* Side-by-side divs */
.side-by-side {
  width: 45%;
  float: left;
}

/* Last div styling */
.last-div {
  width: 100%;
  margin-top: 60%;
}

/* Bottom div */
.bottom-div {
  float: right;
  margin-bottom: 20px;
}

/* Headings */
h3 {
  font-weight: 500;
}

/* List text weight */
ol,
ul {
  font-weight: 300;
}

/* Ordered list and title */
.ordered-list,
.ordered-list h3 {
  border: 1px solid red;
  border-radius: 15px;
}

.ordered-list ol {
  padding: 10px;
  list-style-position: inside;
}

/* Unordered list and title */
.unordered-list,
.unordered-list h3 {
  border: 1px dashed red;
  border-radius: 15px;
}

.unordered-list ul {
  padding: 10px;
  list-style-type: upper-roman;
  list-style-position: inside;
}

/* Link hover underline */
a:hover {
  text-decoration: underline;
}

/* Container styling*/
#container {
	display:flex;
	background-color: blue;
	color: white;
	border: 2px solid black;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

/*<style>
.mycontainer {
  width: 100%;
  overflow: auto;
}
div. mycontainer div {
  width: 33%;
  float: left;
}
</style>*/

/*<style>

div {
  width:30%;  
  display:inline-block;
}
</style>

<style>
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
</style>


.container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}
*/

.container1 {
  display: flex;
  gap: 20px; /* Adds space between items */
}
.item {
  flex: 1; /* Makes items take up equal width */
}

.warning {
  border: 10px ridge red;
  background-color: yellow;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.warning img {
  width: 100%;
}

.warning p {
  font: small-caps bold 1.2rem sans-serif;
  text-align: center;
}

.box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  justify-content: space-between;
}

.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  padding: 1em;
}